body {
	text-align: center;
	background-color: black;
	color: #e6ca3a;
	font-family: "Franklin Gothic Book", sans-serif;
}

p,
div {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
}
